<app-table [data]="tags" [columns]="columns" [actions]="actions">
  <ng-template #idTemplate let-value="value" let-row="row">
    <span
      class="items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 max-w-[5em] truncate"
    >
      #{{ value }}
    </span>
  </ng-template>
  <ng-template
    #tagTemplate
    let-value="value"
    let-row="row"
    let-colorValue="colorValue"
    let-tagName="tagName"
    let-isActive="isActive"
    let-showBorder="showBorder"
    let-brightness="brightness"
  >
    <div
      class="flex flex-nowrap items-center justify-center w-fit rounded-xl text-xs font-bold px-4 py-1"
      [class]="`bg-${colorValue}-light text-${colorValue}-dark`"
    >
      {{ tagName }}
    </div>
  </ng-template>
</app-table>
