<app-title title="Projects"></app-title>
<div class="w-[90%] mx-auto mt-8">
  <div class="flex justify-end my-4">
    <button
      class="px-4 py-2.5 bg-lime-300 rounded-md cursor-pointer shadow-xs hover:shadow-lg hover:shadow-lime-100 hover:scale-[1.01] transition-all duration-200 flex items-center justify-center gap-2"
      (click)="addNewProject()"
    >
      <app-icon [icon]="'add'" /> Add new project
    </button>
  </div>
  <div>
    <app-projects-table
      [projects]="projects"
      (editProject)="openProjectModal($event)"
      (deleteProject)="deleteConfirmationModal($event)"
    >
    </app-projects-table>
  </div>
</div>

<app-modal
  [isOpen]="isModalOpen"
  [title]="modalTile"
  (closeModal)="closeModal()"
>
  @if (!modalAction || modalAction === 'update') {
  <app-project-form
    [existingProject]="selectedProject"
    (projectCreated)="onHandleCreatProject($event)"
    (projectUpdated)="onHandleUpdateProject($event)"
    (modalClosed)="closeModal()"
  ></app-project-form>
  } 
  @if (modalAction === 'delete') {
    <app-delete-confirmation
    [title]="`Are you sure you want to delete the project '${selectedProject?.name}' ?`"
    (confirmed)="handleDeleteProject()"
    (cancelled)="closeModal()"
    />
  }
</app-modal>
