<div class="color-picker">
  <div class="flex gap-2 p-2">
    @for (color of colors; track $index) {
    <button
      type="button"
      class="w-8 h-8 rounded-full cursor-pointer hover:scale-[1.1] transition-all duration-200 ease-in-out"
      [class.selected]="selectedColor === color"
      [class]="`bg-${color}`"
      [attr.aria-label]="color"
      [title]="color"
      (click)="selectColor(color)"
    >
      @if (selectedColor === color) {
      <app-icon [icon]="'check'" [color]="'white'" />
      }
    </button>
    }
  </div>
</div>
