<form
  [formGroup]="taskForm"
  (ngSubmit)="onSubmit()"
  class="p-6 space-y-6 overflow-y-auto max-h-[70vh]"
>
  <div class="flex gap-4">
    <!-- Project -->
    <div class="space-y-2 flex-2">
      <label for="project" class="block text-sm font-medium text-gray-700">
        Project @if (taskForm.get('project')?.validator) {
        <span class="text-red-500">*</span>
        }
      </label>
      <app-dropdown
        [options]="projectOptions"
        labelKey="name"
        valueKey="id"
        formControlName="project"
        placeholder="Select project ..."
      />

      @if (projectErrors) {
      <p class="text-sm text-red-600">{{ projectErrors }}</p>
      }
    </div>
    <!-- Priority -->
    <div class="space-y-2 flex-1">
      <label for="priority" class="block text-sm font-medium text-gray-700">
        Priority <span class="text-red-500">*</span>
      </label>
      <app-dropdown
        [options]="priorityOptions"
        labelKey="name"
        valueKey="id"
        formControlName="priority"
        placeholder="Select priority ..."
      />

      @if (priorityErrors) {
      <p class="text-sm text-red-600">{{ priorityErrors }}</p>
      }
    </div>
  </div>
  <div class="flex gap-4">
    <!-- Title -->
    <div class="space-y-2 flex-2">
      <label for="title" class="block text-sm font-medium text-gray-700">
        Title <span class="text-red-500">*</span>
      </label>
      <app-input type="text" formControlName="title" placeholder="Task title ..."/>
      @if (titleErrors) {
      <p class="text-sm text-red-600">{{ titleErrors }}</p>
      }
    </div>
    <!-- Status -->
    <div class="space-y-2 flex-1">
      <label for="status" class="block text-sm font-medium text-gray-700">
        Status <span class="text-red-500">*</span>
      </label>
      <app-dropdown
        [options]="statusOptions"
        labelKey="name"
        valueKey="id"
        formControlName="status"
        placeholder="Select status ..."
      />

      @if (statusErrors) {
      <p class="text-sm text-red-600">{{ statusErrors }}</p>
      }
    </div>
  </div>

  <!-- Description -->
  <div class="space-y-2">
    <label for="description" class="block text-sm font-medium text-gray-700">
      Description <span class="text-red-500">*</span>
    </label>
    <app-textarea
      placeholder="Enter task description ..."
      resize="none"
      [rows]="3"
      formControlName="description"
    />
    @if (descriptionErrors) {
    <p class="text-sm text-red-600">{{ descriptionErrors }}</p>
    }
  </div>

  <!-- Date Range -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Start Date -->
    <div class="space-y-2">
      <label for="startDate" class="block text-sm font-medium text-gray-700">
        Start Date <span class="text-red-500">*</span>
      </label>
      <app-datepicker formControlName="startDate" placeholder="Select start date" />

      @if (startDateErrors) {
      <p class="text-sm text-red-600">{{ startDateErrors }}</p>
      }
    </div>

    <!-- End Date -->
    <div class="space-y-2">
      <label for="endDate" class="block text-sm font-medium text-gray-700">
        End Date <span class="text-red-500">*</span>
      </label>
      <app-datepicker formControlName="startDate" placeholder="Select end date" />
      @if(endDateErrors) {
      <p class="text-sm text-red-600">{{ endDateErrors }}</p>
      }
    </div>
  </div>

  <!-- Custom Multiselect dropdown users -->
  <div class="space-y-2">
    <label for="users" class="block text-sm font-medium text-gray-700">
      Assigned users @if (taskForm.get('users')?.validator) {
      <span class="text-red-500">*</span>
      }
    </label>
    <app-multiselect-dropdown
      formControlName="users"
      [items]="assignableUsers"
      placeholder="Select users..."
    />
  </div>

  <!-- Custom Multiselect dropdown users -->
  <div class="space-y-2">
    <label for="tags" class="block text-sm font-medium text-gray-700">
      Tags @if (taskForm.get('tags')?.validator) {
      <span class="text-red-500">*</span>
      }
    </label>
    <app-multiselect-dropdown
      formControlName="tags"
      [items]="assignableTags"
      placeholder="Select tags..."
    />
  </div>

  <!-- Action Buttons -->
  <div class="flex justify-end space-x-3 pt-6 border-t border-gray-200">
    <app-button
      label="Cancel"
      type="button"
      [style]="'secondary'"
      (action)="closeModal()"
    ></app-button>
    <app-button
      [label]="isEditMode ? 'Update Task' : 'Create Task'"
      type="submit"
      [style]="'primary'"
      [disabled]="!isFormValid"
    ></app-button>
  </div>
</form>
