@keyframes fade-in-0 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoom-in-95 {
    from {
        transform: scale(0.95);
    }

    to {
        transform: scale(1);
    }
}

.animate-in {
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.fade-in-0 {
    animation-name: fade-in-0;
}

.zoom-in-95 {
    animation-name: zoom-in-95;
}