<app-table [data]="users" [columns]="columns" [actions]="actions" (rowClick)="editUser.emit($event.row)">
  <ng-template #idTemplate let-value="value" let-row="row">
    <span
      class="items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 max-w-[5em] truncate"
    >
      #{{ value }}
    </span>
  </ng-template>
  <ng-template #avatarTemplate let-value="value" let-row="row">
    @if (value) {
      <div class="flex items-center">
        <div class="flex-shrink-0 h-10 w-10">
          <img
            [src]="value"
            [alt]="value"
            class="h-10 w-10 rounded-full object-cover border border-gray-200"
            (error)="onImageError($event)"
          />
        </div>
      </div>
    }
  </ng-template>
</app-table>
